<!-- <!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">
	<title>Home | E-Shopper</title>
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/font-awesome.min.css" rel="stylesheet">
	<link href="css/prettyPhoto.css" rel="stylesheet">
	<link href="css/price-range.css" rel="stylesheet">
	<link href="css/animate.css" rel="stylesheet">
	<link href="css/main.css" rel="stylesheet">
	<link href="css/responsive.css" rel="stylesheet">

	<link rel="shortcut icon" href="images/ico/favicon.ico">
	<link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/ico/apple-touch-icon-144-precomposed.png">
	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/ico/apple-touch-icon-114-precomposed.png">
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/ico/apple-touch-icon-72-precomposed.png">
	<link rel="apple-touch-icon-precomposed" href="images/ico/apple-touch-icon-57-precomposed.png">
	<link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body class="loading">
<div id="preloader"></div>
<header id="header">
	<div class="header-middle">
		<div class="container">
			<div class="row">
				<div class="col-sm-4">
					<div class="logo pull-left">
						<a href="/"><img src="images/home/logo.png" alt="" /></a>
					</div>
				</div>
				<div class="col-sm-8">
					<div class="shop-menu pull-right">
						<ul class="nav navbar-nav">
							<li><a href="/user/profile"><i class="fa fa-user"></i> Account</a></li>

							<li><a href="/cart"><i class="fa fa-shopping-cart"></i> Cart<%if(session.cart){%>
									<span class="badge"><%=session.cart.totalQty%></span>
									<%}%></a></li>
							<%if(!login){%>
							<li><a href="/user/signin"><i class="fa fa-lock"></i> Login</a></li>
							<%} else {%>
							<li><a href="/user/logout"><i class="fa fa-lock"></i> logout</a></li>
							<%}%>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>

<section id="cart_items">
	<div class="container">
		<div class="container">
			<%if(products === null){%>
			<div class="row">
				<div class="col-md-12">
					<div class="error-temp">
						<h1>
							Oops!</h1>
						<h2>
							Cart Is Empty</h2>
						<div class="error-actions">
							<a href="/" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-home"></span>
								Take Me Home </a>
						</div>
					</div>
				</div>
			</div>
			<%}else{%>
		</div>
		<%if(success){%>
		<%if(success.length > 0){%>
		<div class="alert alert-success"><%=success%></div>
		<%}%>
		<%}%>
		<%if(error){%>
		<%if(error.length > 0){%>
		<div class="alert alert-error"><%=error%></div>
		<%}%>
		<%}%>
		<div class="table-responsive cart_info">
			<table class="table table-condensed">
				<thead>
				<tr class="cart_menu">
					<td class="image">Item</td>
					<td class="description"></td>
					<td class="price">Price</td>
					<td class="quantity">Quantity</td>
					<td class="total">Total</td>
					<td></td>
				</tr>
				</thead>
				<%for(product of products){%>
				<tbody>

				<tr>
					<td class="cart_product">
						<img style="width: 70px;" src="<%=product.image%>" alt="..." class="img-responsive"/>
					</td>
					<td class="cart_description">
						<h4><a href=""><%=product.item.title%></a></h4>
					</td>
					<td class="cart_price">
						<p>Rs <%=product.price%></p>
					</td>
					<td class="cart_quantity">
						<div class="cart_quantity_button">
							<form action="/change/<%=product.item._id%>" method="get">
							<a type="submit" class="cart_quantity_up" > + </a>

							<input id="quant" class="cart_quantity_input" type="text" name="quantity" value="<%=product.qty%>" autocomplete="off" size="2">
							<a type="submit" class="cart_quantity_down" > - </a>
							</form>
						</div>
					</td>
					<td class="cart_total">
						<p class="cart_total_price">Rs <%=totalPrice%></p>
					</td>
					<td class="cart_delete">
						<a class="cart_quantity_delete" href="/delete/<%=product.item._id%>"><i class="fa fa-times"></i></a>
					</td>
				</tr>
				</tbody>
				<%}%>
				<tfoot>
				<tr class="visible-xs">
					<td class="text-center"><strong>Total Rs<%=totalPrice%></strong></td>
				</tr>
				<tr>
					<td><a href="/" class="btn btn-warning"><i class="fa fa-angle-left"></i> Continue Shopping</a></td>
					<td colspan="2" class="hidden-xs"></td>
					<td class="hidden-xs text-center"><strong>Total Rs  <%=totalPrice%></strong></td>
					<td><a href="/user/checkout" class="btn btn-success btn-block">Checkout <i class="fa fa-angle-right"></i></a></td>
				</tr>
				</tfoot>
			</table>
		</div>
		<%}%>
	</div>
</section>

<div class="footer-bottom">
	<div class="container">
		<div class="row">
			<p class="pull-left">Copyright © 2018 E-SHOPPER Inc. All rights reserved.</p>
			<p class="pull-right">Designed by <span>The Codoholics</span></p>
		</div>
	</div>
</div>

</footer>
<script src="js/jquery.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.scrollUp.min.js"></script>
<script src="js/price-range.js"></script>
<script src="js/jquery.prettyPhoto.js"></script>
<script src="js/main.js"></script>
<script src="/javascripts/checkout.js"></script>
</body>
</html> -->


<!DOCTYPE html>
<html lang="en">
<head>
<title>Cart</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="OneTech shop project">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="css/styles/bootstrap4/bootstrap.min.css">
<link href="plugins/fontawesome-free-5.0.1/css/fontawesome-all.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="css/styles/cart_styles.css">
<link rel="stylesheet" type="text/css" href="css/styles/cart_responsive.css">

</head>

<body>

<div class="super_container">

	<!-- Header -->

	<header class="header">

		<!-- Top Bar -->

		<div class="top_bar">
			<div class="container">
				<div class="row">
					<div class="col d-flex flex-row">
						<div class="top_bar_contact_item"><div class="top_bar_icon"></div>ShopKart</div>
						<div class="top_bar_content ml-auto">
							<div class="top_bar_menu">
								<ul class="standard_dropdown top_bar_dropdown">


								</ul>
							</div>
							<div class="top_bar_user">
								<div class="user_icon"><img src="images/images/user.svg" alt=""></div>

                <%if(!login){%>
                  <div><a href="/user/signup">Sign Up</a></div>
                  <div><a href="/user/signin">Log In</a></div>
                  <%} else {%>
    								<div><a href="/user/logout">Log Out</a></div>
    								<div><a href="/user/profile">Profile</a></div>
                    <%}%>

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Header Main -->

		<div class="header_main">
			<div class="container">
				<div class="row">

					<!-- Logo -->
					<div class="col-lg-2 col-sm-3 col-3 order-1">
						<div class="logo_container">
							<div class="logo"><a href="#">ShopKart</a></div>
						</div>
					</div>

					<!-- Search -->
					<div class="col-lg-6 col-12 order-lg-2 order-3 text-lg-left text-right">
						<div class="header_search">
							<div class="header_search_content">
								<div class="header_search_form_container">
									<form action="#" class="header_search_form clearfix">
										<input type="search" required="required" class="header_search_input" placeholder="Search for products...">
										<div class="custom_dropdown">
											<div class="custom_dropdown_list">
												<span class="custom_dropdown_placeholder ">All Categories</span>
												<i class="fas fa-chevron-down"></i>
												<ul class="custom_list clc">

												</ul>
											</div>
										</div>
										<button type="submit" class="header_search_button trans_300" value="Submit"><img src="images/search.png" alt=""></button>
									</form>
								</div>
							</div>
						</div>
					</div>

					<!-- Wishlist -->
					<div class="col-lg-4 col-9 order-lg-3 order-2 text-lg-left text-right">
						<div class="wishlist_cart d-flex flex-row align-items-center justify-content-end">
							<div class="wishlist d-flex flex-row align-items-center justify-content-end">

							</div>

							<!-- Cart -->
							<!-- <div class="cart">
								<div class="cart_container d-flex flex-row align-items-center justify-content-end">
									<div class="cart_icon">
										<img src="images/images/cart.png" alt="">
                     <%if(session.cart){%>
										<div class="cart_count"><span class="badge"><%=session.cart.totalQty%></span></div>
									<%}%></div>
									<div class="cart_content">
										<div class="cart_text"><a href="#">Cart</a></div>
										<div class="cart_price">$85</div>
									</div>
								</div>
							</div> -->
              <div class="cart">
		            <div class="cart_container d-flex flex-row align-items-center justify-content-end">
		              <div class="cart_icon">
		                <img src="images/images/cart.png" alt="">
		                <%if(session.cart){%>
		                <div class="cart_count">
		              <span class="badge"><%=session.cart.totalQty%></span>
		            <%}%></div>
		              </div>
		              <div class="cart_content">
		                <div class="cart_text"><a href="/cart">Cart</a></div>
		                <!-- <div class="cart_price">$85</div> -->
		              </div>
		            </div>
		          </div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Main Navigation -->

		<nav class="main_nav">
			<div class="container">
				<div class="row">
					<div class="col">

						<div class="main_nav_content d-flex flex-row">


							<!-- Menu Trigger -->

							<div class="menu_trigger_container ml-auto">
								<div class="menu_trigger d-flex flex-row align-items-center justify-content-end">
									<div class="menu_burger">
										<div class="menu_trigger_text">menu</div>
										<div class="cat_burger menu_burger_inner"><span></span><span></span><span></span></div>
									</div>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
		</nav>

		<!-- Menu -->

		<div class="page_menu">
			<div class="container">
				<div class="row">
					<div class="col">

						<div class="page_menu_content">

							<div class="page_menu_search">
								<form action="#">
									<input type="search" required="required" class="page_menu_search_input" placeholder="Search for products...">
								</form>
							</div>
							<ul class="page_menu_nav">

		</div>

	</header>

	<!-- Cart -->


	<div class="cart_section">
		<div class="container">
			<div class="row">
				<div class="col-lg-10 offset-lg-1">
					<div class="cart_container">
						-<div class="cart_title">Shopping Cart</div>
<%if(product === null){%>
    <div class="row">
        <div class="col-md-12">
            <div class="error-temp">
                <h1>
                    Oops!</h1>
                <h2>
                    Cart Is Empty</h2>

                <div class="error-actions">
                    <a href="/" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-home"></span>
                        Take Me Home </a>
                </div>
            </div>
        </div>
    </div>
  <%}else{%>
	</div>
<div class="container">
	<%if(mess){%>
	<div class="alert alert-danger">
		<%=mess%>
</div>
<%}%>
<%if(success){%>
<div class="alert alert-success">
	<%=success%>
</div>
<%}%>

						<div class="cart_items">
							<ul class="cart_list">
								<%for(product of products){%>
								<li class="cart_item clearfix">
									<div class="cart_item_image"><img src="<%=product.image%>" alt=""></div>
									<div class="cart_item_info d-flex flex-md-row flex-column justify-content-between">
										<div class="cart_item_name cart_info_col">
											<div class="cart_item_title">Name</div>
											<div class="cart_item_text"><%=product.item.title%></div>
										</div>
										<div class="cart_item_color cart_info_col">
											<div class="cart_item_title">Color</div>
											<div class="cart_item_text"><span style="background-color:#999999;"></span>Silver</div>
										</div>
										<div class="cart_item_quantity cart_info_col">
											<div class="cart_item_title">Quantity</div>
											<div class="cart_item_text"><%=product.qty%></div>
										</div>
										<div class="cart_item_price cart_info_col">
											<div class="cart_item_title">Price</div>
											<div class="cart_item_text">Rs. <%=product.price%></div>
										</div>
										<div class="cart_item_total cart_info_col">
											<div class="cart_item_title">Total</div>
											<div class="cart_item_text">Rs <%=product.price*product.qty%></div>
										</div>
									</div>
								</li>
								<%}%>
							</ul>
						</div>

						<!-- Order Total -->
						<div class="order_total">
							<div class="order_total_content text-md-right">
								<div class="order_total_title">Order Total:</div>
								<div class="order_total_amount">Rs <%=totalPrice%></div>
							</div>
						</div>

						<div class="cart_buttons">
							<a href="/" class="button cart_button_clear">Home</a>
							<a href="/user/checkout" class="button cart_button_checkout">CheckOut</a>
							<!-- <button type="button" class="button cart_button_checkout">Add to Cart</button> -->
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
<%}%>
	<!-- Newsletter -->


	<!-- Footer -->

	<footer class="footer">
		<div class="container">
			<div class="row">

				<div class="col-lg-3 footer_col">
					<div class="footer_column footer_contact">
						<div class="logo_container">
							<div class="logo"><a href="#">Shopkart</a></div>
						</div>
						<div class="footer_title">Always in your help ...</div>

						<div class="footer_social">
							<ul>
								<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
								<li><a href="#"><i class="fab fa-twitter"></i></a></li>
								<li><a href="#"><i class="fab fa-youtube"></i></a></li>
								<li><a href="#"><i class="fab fa-google"></i></a></li>
								<li><a href="#"><i class="fab fa-vimeo-v"></i></a></li>
							</ul>
						</div>
					</div>
				</div>


			</div>
		</div>
	</footer>

	<!-- Copyright -->

	<div class="copyright">
		<div class="container">
			<div class="row">
				<div class="col">

					<div class="copyright_container d-flex flex-sm-row flex-column align-items-center justify-content-start">
						<div class="copyright_content"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Codholic</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
</div>
						<div class="logos ml-sm-auto">
							<ul class="logos_list">
								<li><a href="#"><img src="images/images/logos_1.png" alt=""></a></li>
								<li><a href="#"><img src="images/images/logos_2.png" alt=""></a></li>
								<li><a href="#"><img src="images/images/logos_3.png" alt=""></a></li>
								<li><a href="#"><img src="images/images/logos_4.png" alt=""></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script src="js/jquery-3.3.1.min.js"></script>
<script src="css/styles/bootstrap4/popper.js"></script>
<script src="css/styles/bootstrap4/bootstrap.min.js"></script>
<script src="plugins/greensock/TweenMax.min.js"></script>
<script src="plugins/greensock/TimelineMax.min.js"></script>
<script src="plugins/scrollmagic/ScrollMagic.min.js"></script>
<script src="plugins/greensock/animation.gsap.min.js"></script>
<script src="plugins/greensock/ScrollToPlugin.min.js"></script>
<script src="plugins/easing/easing.js"></script>
<script src="js/java/cart_custom.js"></script>
</body>

</html>
